/* css fro .text class */
.text {
  color: rgba(255, 232, 182, 0.767);
  font-size: large;
}
/* css for logo image */
.logo{
    width: 3rem;
    height: 3rem;
    padding: 0.3rem;
    border: 2px solid rgb(208, 231, 0);
    margin: 0.3rem;
}
